<html>
  <head>
    {% if title %}
    <title>{{title}} - Watchagram.net</title>
    {% else %}
    <title>Watchagram.net</title>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <style>
        body {
            background-color: #f8f8f8;
            font-family: 'Audiowide', 'cursive';
        }
        .foto {
            list-style:none;
            margin-bottom:25px;
        }
        .foto img {
            cursor: pointer;
            padding:1px;
            border:1px solid darkgray;
            background-color: darkgray;
            box-shadow: 4px 4px 2px #999999;
        }
        .foto img:hover {
            box-shadow: 5px 5px 3px #999999;
        }
        .controls {
            width:50px;
            display:block;
            font-size:11px;
            padding-top:8px;
            font-weight:bold;
        }

        #footer a {
            color:grey;
        }
    </style>

  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Watchagram.net</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="seiko-link"><a href="/?s=skx007">Seiko 007</a></li>
        <li id="gshock-link"><a href="/?s=gshock">G-Shock</a></li>
        <li id="protrek-link"><a href="/?s=protrek">Protrek</a></li>
        <li id="panerai-link"><a href="/?s=panerai">Panerai</a></li>
        <li id="traser-link"><a href="/?s=traser">Traser</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="search-val" placeholder="Search other watches">
          </div>
          <button type="submit" class="btn btn-default" id="search-btn">Submit</button>
        </form>
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<div id="footer" style="background-color:#e7e7e7;">
  <div class="container" style="padding-top:6px;">
    <p class="text-muted">Watchagram.com. By: <a href="http://ricardomol.com" target="_blank">Ricardo Molina</a>.</p>
  </div>
</div>

  </body>

<script>

    function getUrlParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam){
                return sParameterName[1];
            }
        }
    }

    $(document).ready(function(){

        var s = getUrlParameter('s');

        if (!s){
            $('#seiko-link').addClass('active');
        } else if (s.localeCompare('gshock') == 0){
            $('.li').removeClass('active');
            $('#gshock-link').addClass('active');
        } else if (s.localeCompare('protrek') == 0){
            $('.li').removeClass('active');
            $('#protrek-link').addClass('active');
        } else if (s.localeCompare('panerai') == 0){
            $('.li').removeClass('active');
            $('#panerai-link').addClass('active');
        } else if (s.localeCompare('traser') == 0){
            $('.li').removeClass('active');
            $('#traser-link').addClass('active');
        } else {
            $('.li').removeClass('active');
            $('#seiko-link').addClass('active');
        }

        $('#search-btn').on('click',function(){
            var search_term = $('#search-val').val();
            window.location.href = "/?s="+search_term;
            return false;
        });
    });

    $(document).on('click', '.foto a img', function(){
            var src = $(this).attr('data-src-big');
            var img = '<img src="' + src + '" class="img-responsive"/>';
            var html = '';
            html += img;
            html += '</div>';

            $('#myModal').modal();
            $('#myModal').on('shown.bs.modal', function(){
                $('#myModal .modal-body').html(html);
                $('a.controls').trigger('click');
            });
            $('#myModal').on('hidden.bs.modal', function(){
                $('#myModal .modal-body').html('');
            });
    });

</script>

</html>
