<html>
  <head>
    {% if title %}
    <title>{{title}} - The Tough Watch Gallery</title>
    {% else %}
    <title>The Tough Watch Gallery</title>
    {% endif %}

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #f8f8f8;
        }
        ul {
            padding:0 0 0 0;
            margin:0 0 0 0;
        }
        ul li.foto {
            list-style:none;
            margin-bottom:25px;
        }
        ul li.foto img {
            cursor: pointer;
        }
        .controls {
            width:50px;
            display:block;
            font-size:11px;
            padding-top:8px;
            font-weight:bold;
        }
        .next {
            float:right;
            text-align:right;
        }

        #footer a {
            color:grey;
        }
    </style>

  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Tough Watch Gallery</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="seiko-link"><a href="/?s=skx007">Seiko 007</a></li>
        <li id="gshock-link"><a href="/?s=gshock">G-Shock</a></li>
        <li id="protrek-link"><a href="/?s=protrek">Protrek</a></li>
        <li id="panerai-link"><a href="/?s=panerai">Panerai</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<div id="footer" style="background-color:#e7e7e7;">
  <div class="container" style="padding-top:6px;">
    <p class="text-muted">By <a href="http://www.ricardomol.com" target="_blank">Ricardo Molina</a>.</p>
  </div>
</div>

  </body>

<script>

    function getUrlParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam){
                return sParameterName[1];
            }
        }
    }

    $(document).ready(function(){

        var s = getUrlParameter('s');

        if (!s){
            $('#seiko-link').addClass('active');
        } else if (s.localeCompare('gshock') == 0){
            $('.li').removeClass('active');
            $('#gshock-link').addClass('active');
        } else if (s.localeCompare('protrek') == 0){
            $('.li').removeClass('active');
            $('#protrek-link').addClass('active');
        } else if (s.localeCompare('panerai') == 0){
            $('.li').removeClass('active');
            $('#panerai-link').addClass('active');
        } else {
            $('.li').removeClass('active');
            $('#seiko-link').addClass('active');
        }

        $('li img').on('click',function(){
            var src = $(this).attr('data-src-big');
            var img = '<img src="' + src + '" class="img-responsive"/>';

            var index = $(this).parent('li').index();
            var html = '';
            html += img;
            html += '<div style="height:25px;clear:both;display:block;">';
            html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
            html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
            html += '</div>';

            $('#myModal').modal();
            $('#myModal').on('shown.bs.modal', function(){
                $('#myModal .modal-body').html(html);
                $('a.controls').trigger('click');
            });
            $('#myModal').on('hidden.bs.modal', function(){
                $('#myModal .modal-body').html('');
            });
        });
    });

    $(document).on('click', 'a.controls', function(){
      var index = $(this).attr('href');
      var src = $('ul.row li:nth-child('+ index +') img').attr('data-src-big');
      $('.modal-body img').attr('src', src);

      var newPrevIndex = parseInt(index) - 1; 
      var newNextIndex = parseInt(newPrevIndex) + 2;

      if($(this).hasClass('previous')){
          $(this).attr('href', newPrevIndex); 
          $('a.next').attr('href', newNextIndex);
      }else{
          $(this).attr('href', newNextIndex); 
          $('a.previous').attr('href', newPrevIndex);
      }

      var total = $('ul.row li').length + 1; 
      //hide next button
      if(total === newNextIndex){
          $('a.next').hide();
      }else{
          $('a.next').show()
      }
      //hide previous button
      if(newPrevIndex === 0){
          $('a.previous').hide();
      }else{
          $('a.previous').show()
      }

      return false;
    });

</script>

</html>
