{% extends "base.html" %}

{% block content %}
    <div class="container">
        <ul class="row">
            {% set r = range(1, 8) | random %}
            {% for foto in fotos %}
                {% if loop.index == r %}
                    <li class="foto col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <ins class="adsbygoogle"
                            style="display:inline-block;width:200px;height:200px"
                            data-ad-client="ca-pub-5230413285280043"
                            data-ad-slot="5437576013">
                        </ins>
                    </li>
                {% else %}
                    <li class="foto col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <img src="{{foto.thumb_url}}" data-src-big="{{foto.big_url}}" width="200px"/>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">         
                <div class="modal-body">                
                </div>
            </div>
        </div>
    </div>

{% endblock %}

