{% extends "base.html" %}

{% block content %}
    <div class="container">
        <ul class="row">
            {% for foto in fotos %}
            <li class="foto col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <img src="{{foto.thumb_url}}" data-src-big="{{foto.big_url}}"/>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">         
                <div class="modal-body">                
                </div>
            </div>
        </div>
    </div>

{% endblock %}

